@model RR.ViewModels.ViewRestaurantViewModel

@{
    ViewBag.Title = "RestaurantDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurant Details</h2>

<div class="jumbotron">

</div>

